@font-face{
        src: url('Font/Assistant-Bold.woff2');
        font-family: Bold;
}
@font-face{
    src: url('Font/Assistant-Regular.woff2');
    font-family: Regular;
}
*{
    box-sizing: border-box;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0px;
    color: #424553;
}
#arrow{
    display: inline;
}

#head-id{
    background-color: white;
    /* position: sticky; */
    /* top: 0; */
    z-index: 100;
    width: 100%;
    display: flex;
    flex-direction: row;

}
#img1{
    display: inline-block;
    margin: 16px;
    vertical-align: top;
}

#Mylogo{
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 24px;
    margin: 16px 16px 16px 0;
}
#head-text{
    top: 11px;
    font-size: 16px;
    vertical-align: top;
    position: relative;
    position: relative;
    font-family: Regular;
    white-space: nowrap;
    width: 115px;
    display: inline-block;
}
.hd-text{
    font-family: Bold;
}
.hd-subtxt{
    font-size: 12px;
    font-weight: 400;
    font-family:Regular;
}
#headicons{
    top: 1px;
    justify-content: flex-end;
    display: flex;
    margin-left: 4px;
    width: 100%;
   
}
#headicons > img.hdicon{
    width: 20px;
    height: 20px;
    margin-top: 18px;
}
.hdicon{
  position: relative;
    margin: 17px 16px 16px 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
#headicons a:nth-child(2){
    margin-left: 4px;
}
.hdicon:not(:first-of-type) {
    top: 10px;
    position: relative;
}
#banner{
    z-index: 100;
    padding: 12px 6px;
    background-image: linear-gradient(90deg, #bd6da6, #d799cb);
    font-family: Regular;
    margin-top: -6px;
    margin-bottom: -1px;
}
#banner-txt{
    font-size: 12px;
    text-align: center;
    color: #fff;
    line-height: 1.4;
    margin-top: 1px;
}
#bntxt{
    font-family: Bold;
}
#items{
    list-style: none;
    padding: 0;
    margin: 0;
}
#item{
    width: 100%;
    border-right: 0.5px solid #d4d5d9;
    border-top: 1px solid #d4d5d9;
    float: left;
    width: 50%;
    margin: 0;
    overflow: hidden;
    position: relative;
    align-items: center;
}
#lstimg{ 
    object-fit: cover;
    object-position: top;
    overflow: hidden;
    position: relative;
    display: block;
    width:100%;
   height: auto;
}
#ratings{
    position: absolute;
    height: 18px;
    margin: -28px 0 0 11px;
    border: 1px solid #eaeaec;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;
    border-radius: 9px;
    width: auto;
}
#ratingtxt{
    display: block;
    font-size: 10px;
    font-family: Bold;
}
#star{
    background-image: url("https://constant.myntassets.com/pwa/assets/img/2bce8a2b-e1d5-465a-8980-62f3d778377c1548353615799-Fill-90-Copy-7.png");
    padding: 3px;
    font-size: 9px;
    background-size: cover;
    position: relative;
    margin: 0 6px 0 4px;
    width: 6px;
    height: 6px;
}
#line{
    color: rgb(148,150,159);
}
#raitingcnt{
    font-size: 10px;
    font-family: Bold;
    margin-left: 5px;
}
#add{
    font-family: Regular;
    background-color: #a9abb3;
    border-radius: 2px;
    position: absolute;
    top: 8px;
    right: 10px;
    padding: 0 2px;
    font-size: 10px;
    color: #fff;
}
#pdt-dtls{
    position: relative;
}
#pdts{
    padding: 8px 0;
    font-size: 12px;
}
#pdtnme{
    margin: 0;  
    padding-left: 8px;
    font-weight: normal;
    font-family: Bold;
    line-height: 1.57;
    text-align: left;
    color: #282c3f;
    font-size: 13px;
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#pdtdec{
    opacity: .6;
    padding-left: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
    margin: 0;
    font-size: 11px;
    font-weight: 400;
    font-family: Regular;
    text-align: left;
    color: #282c3f;
    height: 12px;
}
#pdtrate{
    margin-top: -1px;
    padding-left: 6px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#priceicn{
    font-weight: 700;
    color: #282c3f;
    font-size: 13px;
    position: relative;
    top: 4px;
}
#price{
    position: relative;
    left: -2px;
    font-family: Bold;
    font-size: 13px;
    color: #282c3f;
    margin-left: -3px;
}
#stricn{
    font-size: 13px;
    opacity: .4;
    color: #282c3f;
    text-decoration: line-through;
    position: relative;
    top: 1px;
}
#strprice{
     font-size: 13px;
    opacity: .4;
    color: #282c3f;
    text-decoration: line-through;
    position: relative;
    margin-left: -3px;
    font-family: Regular;
}
#dispercent{
    color: #ff905a;
    font-family: Bold;
    font-size: 11px;
    white-space: nowrap;
}
#spacing{
    min-height: 17px;
    text-align: left;
    margin-left: 8px;
}

#wished{
    color: #282c3f;
    display: inline-block;
    position: absolute;
    bottom: 43px;
    right: 0;
    top:2px;
    padding-top: 4px;
    padding-left: 15px;
    height: 38px;
}
#filtersrt{
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    border-top: 1px solid #eaeaec;
    z-index: 10;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#sort{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
#srttxt{
    position: relative;
    overflow: hidden;
}
#sortbtn{
    /* border-color: transparent; */
    font-family: Bold;
    background-color: #fff;
    width: 100;
    height: 50px;
    padding: 14px 0 14px 28px;
    letter-spacing:0.9px;
    color: #535766;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    outline: 0;
    font-size: 14px;
    line-height: 1.42857143;   
}
#fltsimg{
    top: 16px;
    left: 10%;
    position: absolute;
    width: 16px;
    height: 16px;
}
#getapp{
    clear:both;
}
#getapp{
    border-top: 4px solid #eaeaec;
    border-bottom: 4px solid #eaeaec;
}
#grad{
    border-bottom: none;
}
#getappimg{
    width: 100%;
    background-image: linear-gradient(270deg,#ffe5b2,#fff);
    min-height: 120px;
    margin-bottom: -5px;
}
#filtergen:nth-child(odd){
    clear: left;
}
#filpd{
    padding-right: 40px;
    border-bottom: 1px solid #d4d5d9;
     border-top: 1px solid #d4d5d9;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: block;
    background-color: #e1eaff;
    font-size: 14px;
    color: #424553;
}
#filttext{
    vertical-align: top;
    display: inline-block;
    margin-right: 30px;
    color: #3e4152;
    
}
#filtrby{
    padding-left: 16px;
    padding-top: 30px;
    font-size: 18px;
    font-weight: lighter;
    font-family: Regular;
}
#filgen{
    font-family: Bold;
    padding-left: 16px;
    padding-bottom: 30px;
    font-size: 21.5px;
    line-height: 1.33;
}
#genders{
    display: inline-block;
}
#boygrl{
    margin-right: 8px;
    display: inline-block;
    min-width: 4%;
    vertical-align: top;
}
#gentxt{
    font-family: Bold;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    border-radius: 4px;
    background-color: #fff;
    margin-top: 16px;
}
#genwom{
    font-family: Bold;
    min-width: 4%;
    margin-right: 8px;
    display: inline-block;
    margin-top: 17px;
    vertical-align: bottom;
}
#genwmntxt{
    vertical-align: bottom;
    margin-bottom: 16px;
    margin-top: -6px;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    border-radius: 4px;
    background-color: #fff;
}
#fltothr{
    margin-left: 10px;
    position: relative;
    padding-bottom: 25px;
    vertical-align: bottom;
    display: inline-block;
    font-family: Regular;
}
#arrowimg{
    top: 2px;
    position: absolute;
    font-size: 16px;
    margin-left: 70px;
    margin-top: -2px;
}
#arrowsvg{
    transform: rotate(90deg);
    float: right;
    overflow: hidden;

}


/*--------------------------------------JS------------------------*/

/* #alrt-id{
    margin-top: 100px;
position: fixed;
  top:0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  font-family: Arial, sans-serif;
  z-index: 9999;
}
.alrt-cntnd{
    margin-top: 0;
}
.app-dlts{
display: flex;
  align-items: center;
  margin-top: 10px;
}
.alrt-img{
    width: 40px;
  height: 40px;
  border-radius: 8px;
}
.alrt-txt{
    margin-left: 10px;
}
.alrtnme{
    margin: 0;
    font-weight: bold;
}
.alrt-url{
    margin: 0;
    color: grey;
    font-size: 12px;
}
.alertbuttons{
    margin-top: 20px;
    text-align: right;
}
.btn-cancl,.btn-instl{
      border: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
}
.btn-cancl{
    background: #773c47;
  color: white;
  margin-right: 10px;
}
.btn-instl{
     background: #fcdada;
  color: #773c47;
 
} */
 #show-id {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
     background-color: rgba(40, 44, 63, .9);
  z-index: 1000;
  opacity: 1;
}

 .show-pge{
    background-color: transparent;
    z-index: 200;
    display: block;
    opacity: 1;
    visibility: visible;
    position: fixed;
    margin: 0;

 }
 .show-cnt{
    background-color: transparent;
    overflow-y: auto;
    scroll-behavior: smooth;
 }
 .show-txt{
    margin-top: 6px;
    color: #fff;
    padding: 22% 32px 0;
 }
 .showhd{
    margin: 0;
    font-size: 16px;
    font-family: Bold;
 }
 .showsub{
    margin: 0;
    color: #fff;
    padding: 12px 0 0;
    font-size: 14px;
    font-family: Regular;
 }
 .showsub img{
    width: 16px;
    height: 16px;
    margin-right: 15px;
 }
 .instrnhd{
    margin: 0;
    font-size: 16px;
    font-family: Bold;
    padding: 42px 0 10px;
 }
 .instrns{
    margin: 0;
    padding-bottom: 6px;
    font-size: 14px;
    line-height: 1.29;
    font-family: Regular;
 }
 .gotit{
    position: relative;
    overflow: hidden;
 }
 .okeybtn{
    background-color: #ff527b;
    color: #fff;
    border-radius: 2px;
    border-color: #ff527b;
    margin-top: 12px;
    font-size: 12px;
    position: relative;
    line-height: normal;
    padding: 8px 16px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    outline:0
 }
 @media screen and (max-width:375px){
    #lstimg{
        height: 255px;
    }
}
@media screen and (max-width:425px)and (min-width:376px){
    #banner{
        height: 72px;
        margin-bottom: 0;
    }
    
    #banner-txt{
        font-size: 14px;
        margin-top: 5px;
    }
    #lstimg{
        height: 255px;
    width: 100%; 
    object-fit: cover;
    object-position: top;
    overflow: hidden;
    }
    #item{
        height: 343.97;
    }
}
@media screen and (max-width:768px) and (min-width:426px){

    #banner{height: 72px;}
    #banner-txt{
        font-size: 14px;
        margin-top: 5px;
    }
    #lstimg{
        height: 255px;
        width: 100%;
        object-position: top;
        object-fit: cover;
        overflow: hidden;
    }
}
@media  screen and (max-width:1736px) and (min-width:769px){
    #banner{
        height: 72px;
    }
    #banner-txt{
        font-size: 14px;
        margin-top: 5px;
    }
    #lstimg{
        height: 255px;
        width: 100%;
        object-position: top;
        object-fit: cover;
        overflow: hidden;
    }

}